In [1]:
from ib.ext.Contract import Contract
from ib.ext.ScannerSubscription import ScannerSubscription
from ib.ext.ContractDetails import ContractDetails
from ib.ext.Order import Order
from ib.opt import Connection, message

from time import sleep 
from datetime import datetime
import pandas as pd
# import backtrader as bt
# import pytz, tzlocal
from bs4 import BeautifulSoup
import re
from ibapi.ticktype import TickTypeEnum
import talib

In [2]:
def error_handler(msg):
    """Handles the capturing of error messages"""
    print ("Server Error: {}".format(msg))

def reply_handler(msg):
    """Handles of server replies"""
    print ("Server Response: {}, {}".format(msg.typeName, msg))

def next_id(msg):
    global order_id
    order_id = int(re.findall('\d+', str(msg))[0])
    
    return order_id
    
def historical_data_handler(msg):  
    global historical_data
    
    if ('finished' in str(msg.date)) == False:   
        
        historical_data.loc[len(historical_data)] = ([msg.date,
                                                      msg.open, msg.high, msg.low, msg.close, msg.volume])
    else:  
        historical_data.set_index('Date',inplace=True)

        
def ReportsFinStatements(msg):
    global annual
    global quarter
   
    parser = BeautifulSoup(msg.data, 'lxml')

    mapp = dict()
    for item in parser.findAll('mapitem'):
        mapp[item['coaitem']] = item.text
        
    
    #ANNUAL
    index = [];columns = []
    for item in parser.findAll('annualperiods')[0].findAll('fiscalperiod'):
        index.append(datetime.strptime(item['fiscalyear'], '%Y').year)
    
    for i in parser.findAll('annualperiods')[0].findAll('fiscalperiod')[0].findAll('lineitem'):
        columns.append(mapp[i['coacode']])

    annual = pd.DataFrame(index = index, columns = columns)
    annual.index.name = 'Annual'
    for item in parser.findAll('annualperiods')[0].findAll('fiscalperiod'):
        for i in item.findAll('lineitem'):
            try:
                annual.loc[datetime.strptime(item['fiscalyear'], '%Y').year,mapp[i['coacode']]] = float(i.text)
            except:
                annual.loc[datetime.strptime(item['fiscalyear'], '%Y').year,mapp[i['coacode']]] = np.nan
        
    # QUARTER
    index_q = [];columns_q = []
    for item in parser.findAll('interimperiods')[0].findAll('fiscalperiod'):
        index_q.append(datetime.strptime(item['enddate'], '%Y-%m-%d').date())
    
    for i in parser.findAll('interimperiods')[0].findAll('fiscalperiod')[0].findAll('lineitem'):
        columns_q.append(mapp[i['coacode']])

    quarter = pd.DataFrame(index = index_q, columns = columns_q)
    quarter.index.name = 'Quarter'
    for item in parser.findAll('interimperiods')[0].findAll('fiscalperiod'):
        for i in item.findAll('lineitem'):
            try:
                quarter.loc[datetime.strptime(item['enddate'], '%Y-%m-%d').date(),mapp[i['coacode']]] = float(i.text)
            except:
                quarter.loc[datetime.strptime(item['enddate'], '%Y-%m-%d').date(),mapp[i['coacode']]] = np.nan


def position_account(msg):
    global account
    account = msg

def Scanner(msg):
    global symbol
    global sectype
    global exchange
    global currency
        
    symbol.append(msg.contractDetails.m_summary.m_symbol)
    sectype.append(msg.contractDetails.m_summary.m_secType)
    exchange.append(msg.contractDetails.m_summary.m_exchange)
    currency.append(msg.contractDetails.m_summary.m_currency)

def Analyst_Estimates(msg):
    global resc
    global resc_ann
    global resc_q
    
    parser = BeautifulSoup(msg.data, 'lxml')
    resc.iloc[:,0] = parser.find('name').text    
    resc.iloc[:,1] = parser.find('exchange').text
    resc.iloc[:,2] = parser.findAll('secid')[0].text
    resc.iloc[:,3] = parser.findAll('sector')[0].text

    resc.iloc[:,4] = parser.findAll('marketdataitem')[0].text
    resc.iloc[:,5] = parser.findAll('marketdataitem')[1].text
    resc.iloc[:,6] = parser.findAll('marketdataitem')[2].text
    resc.iloc[:,7] = parser.findAll('marketdataitem')[3].text
    resc.iloc[:,8] = parser.findAll('marketdataitem')[4].text
    resc.iloc[:,9] = parser.findAll('fyactual')[0].text
    
    annual = [];columns = [];quarter = []
    for item in parser.findAll('fyactual'):
        columns.append(item['type'])
        for per in item.findAll('fyperiod'):
            if per['periodtype'] == 'A':
                annual.append(per['fyear'])
            if per['periodtype'] == 'Q':
                quarter.append('{}-{}'.format(per['endcalyear'],per['endmonth']))
    
    index = list(set(annual))
    index_q = list(set(quarter))
    resc_ann = pd.DataFrame(index = index, columns = columns).sort_index(axis = 0,ascending = False)
    resc_q = pd.DataFrame(index = index_q, columns = columns).sort_index(axis = 0,ascending = False)
    
    for item in parser.findAll('fyactual'):
        for per in item.findAll('fyperiod'):
            
            if per['periodtype'] == 'Q':
                try:
                    resc_q.loc['{}-{}'.format(per['endcalyear'],per['endmonth']),item['type']] = float(per.find('actvalue').text)
                except:
                    resc_q.loc['{}-{}'.format(per['endcalyear'],per['endmonth']),item['type']] = np.nan  
                    
            if per['periodtype'] == 'A':
                try:
                    resc_ann.loc[per['fyear'],item['type']] = float(per.find('actvalue').text)
                except:
                    resc_ann.loc[per['fyear'],item['type']] = np.nan

                    
def ReportsFinSummary(msg):
    global fin
    
    parser = BeautifulSoup(msg.data, 'lxml')
    date_div = [];data_div = []
    
    for i in parser.findAll('dividendpershare'):
        if i['period'] == '12M' and i['reporttype'] == 'TTM':
            
            date_div.append(i['asofdate'])
            try:
                data_div.append(float(i.text))
            except:
                data_div.append(np.nan)
                
    data_rev = []
    for i in parser.findAll('totalrevenue'):
        if i['period'] == '12M' and i['reporttype'] == 'TTM':
            try:
                data_rev.append(float(i.text))
            except:
                data_rev.append(np.nan)
                
    data_eps = []
    for i in parser.findAll('eps'):
        if i['period'] == '12M' and i['reporttype'] == 'TTM':
            try:
                data_eps.append(float(i.text))
            except:
                data_eps.append(np.nan)

    fin = pd.DataFrame(index = date_div,
                       data = {'Dividend Per Share(TTM)':data_div,
                               'Total Revenue(TTM)':data_rev, 
                               'EPS(TTM)':data_eps}).sort_index(axis = 0,ascending = False)

def ReportSnapshot(msg):
    global business_summary
    global brief
    global snap
    global address
    global ratio
    global estimate
    
    parser = BeautifulSoup(msg.data, 'lxml')
    
    business_summary = parser.findAll('text')[0].text
    brief = parser.findAll('text')[1].text
    address = '{},{},{},{}'.format(parser.find('contactinfo').find('streetaddress').text,
                                   parser.find('contactinfo').find('city').text,
                                   parser.find('contactinfo').find('state-region').text,
                                   parser.find('contactinfo').find('country').text)
    
    snap = pd.DataFrame(index = [parser.findAll('coid')[1].text],
                        data = {'Company Type': parser.find('cotype').text,
                                'Desc':parser.findAll('issue')[0]['desc'],
                                'Exchange': parser.findAll('exchange')[0].text,
                                'Industry':parser.findAll('industry')[0].text,
                                'Index':parser.find('indexconstituet').text})
    dicted = {};dicted_est = {}
    for i in range(len(parser.find('ratios').findAll('ratio'))):
        try:
            dicted[parser.find('ratios').findAll('ratio')[i]['fieldname']] = float(parser.find('ratios').findAll('ratio')[i].text)
        except:
            dicted[parser.find('ratios').findAll('ratio')[i]['fieldname']] = parser.find('ratios').findAll('ratio')[i].text
            
    ratio = pd.DataFrame(index = [parser.findAll('coid')[1].text], data = dicted)
    
    for i in range(len(parser.find('forecastdata').findAll('ratio'))):
        try:
            dicted_est[parser.find('forecastdata').findAll('ratio')[i]['fieldname']] = float(parser.find('forecastdata').findAll('ratio')[i].text)
        except:
            dicted_est[parser.find('forecastdata').findAll('ratio')[i]['fieldname']] = parser.find('forecastdata').findAll('ratio')[i].text
            
    estimate = pd.DataFrame(index = [parser.findAll('coid')[1].text], data = dicted_est)
    
def create_contract(symbol, sec_type, exch, prim_exch, curr):

    contract = Contract()
    contract.m_symbol = symbol
    contract.m_secType = sec_type
    contract.m_exchange = exch
    contract.m_primaryExch = prim_exch
    contract.m_currency = curr
    
    return contract

def create_order(order_type, quantity, action):

    order = Order()
    order.m_orderType = order_type
    order.m_totalQuantity = quantity
    order.m_action = action
    
    return order

def create_scanner(numberOfRows, instrument, locationCode, ScanCode, 
                   AbovePrice, marketCapAbove, AboveVolume):

    scanSub = ScannerSubscription()
    scanSub.numberOfRows(numberOfRows)
    scanSub.m_instrument = instrument
    scanSub.m_locationCode = locationCode
    scanSub.m_scanCode = ScanCode
    scanSub.m_abovePrice = AbovePrice
    scanSub.m_marketCapAbove = marketCapAbove
    scanSub.m_aboveVolume = AboveVolume
    
    return scanSub

In [3]:
#price = pd.DataFrame(columns = ['Ticker Id','Field','Price'])
#size = pd.DataFrame()
#scan_param = None
#tws_conn.register(ScannerParameters, message.scannerParameters)
#tws_conn.register(mktdata, message.tickPrice)
#tws_conn.reqMarketDataType(4) # switch to delayed frozen data if live is not available
#tws_conn.reqMktData(0,contract,"",True)                    
#tws_conn.reqScannerParameters()

# Connecting to TWS

In [4]:
tws_conn = Connection.create(host='127.0.0.1',port=7497, clientId=0)
tws_conn.connect()

Server Version: 76
TWS Time at connection:20191013 04:31:48 EST

True

In [5]:
tws_conn.register(error_handler, 'Error')
tws_conn.register(reply_handler)
tws_conn.unregister(error_handler, 'Error')
tws_conn.unregister(reply_handler)

False

# Step 1 : Filtertation

In [6]:
symbol = [];sectype = [];exchange = []; currency = []

In [7]:
ScanCode = 'LOW_VS_52W_HL'
scanSub = create_scanner(numberOfRows = 10, instrument = 'STK', 
                         locationCode = 'STK.US.MAJOR', ScanCode = ScanCode, 
                         AbovePrice = '100',marketCapAbove = '100000',
                        AboveVolume = '1000')

In [8]:
tws_conn.register(Scanner, message.scannerData)
tws_conn.reqScannerSubscription(0,scanSub)
sleep(5)
tws_conn.unregister(Scanner,message.scannerData)

True

In [9]:
scanner = pd.DataFrame()
scanner['Symbol'] = symbol
scanner['SecType'] = sectype
scanner['Exchange'] = exchange
scanner['Currency'] = currency
scanner.index.name = ScanCode

In [10]:
scanner

              Symbol SecType Exchange Currency
LOW_VS_52W_HL
0               ICUI     STK    SMART      USD
1                ADS     STK    SMART      USD
2               ABMD     STK    SMART      USD
3               BIIB     STK    SMART      USD
4                SPG     STK    SMART      USD
5                MMM     STK    SMART      USD
6                FDX     STK    SMART      USD
7               LANC     STK    SMART      USD
8                BAP     STK    SMART      USD
9                KWR     STK    SMART      USD

# Step 2 : Iterate over selceted tickers and collect data

## ReportsFinStatements: Financial statements

In [10]:
contract = create_contract(symbol = 'AMZN',
                           sec_type = 'STK',
                           exch = 'SMART',
                           prim_exch = 'NASDAQ',
                           curr = 'USD')

In [11]:
annual = pd.DataFrame()
quarter = pd.DataFrame()

tws_conn.register(ReportsFinStatements, message.fundamentalData)
tws_conn.reqFundamentalData(0,contract=contract,reportType='ReportsFinStatements')
sleep(5)
tws_conn.unregister(ReportsFinStatements, message.fundamentalData)

True

## RESC: Analyst estimates

In [12]:
resc = pd.DataFrame(index = [0],columns = ['Name', 'Exchange', 'Symbol', 'Sector', 'CLPRICE', 'SHARESOUT',
                                          'MARKETCAP', '52WKHIGH', '52WKLOW','NAV'])

resc_ann = pd.DataFrame()
resc_q = pd.DataFrame()

tws_conn.register(Analyst_Estimates, message.fundamentalData)
tws_conn.reqFundamentalData(0,contract=contract,reportType='RESC')
sleep(5)
tws_conn.unregister(Analyst_Estimates, message.fundamentalData)

True

## ReportsFinSummary: Financial summary

In [13]:
fin = None
tws_conn.register(ReportsFinSummary, message.fundamentalData)
tws_conn.reqFundamentalData(0,contract=contract,reportType='ReportsFinSummary')
sleep(5)
tws_conn.unregister(ReportsFinSummary, message.fundamentalData)

13-Oct-19 04:05:24 ERROR     Exception in message dispatch.  Handler 'ReportsFinSummary' for 'fundamentalData'
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/ib/opt/dispatcher.py", line 44, in __call__
    results.append(listener(message))
  File "<ipython-input-2-0530e7e08d61>", line 169, in ReportsFinSummary
    'EPS(TTM)':data_eps}).sort_index(axis = 0,ascending = False)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py", line 330, in __init__
    mgr = self._init_dict(data, index, columns, dtype=dtype)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py", line 461, in _init_dict
    return _arrays_to_mgr(arrays, data_names, index, columns, dtype=dtype)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py", line 6173, in _arrays_to_mgr
    return create_block_manager_from_arrays(arrays, arr_names, axes)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/internals.py", line 4642, in create_block_manager_from_arrays
    construction_error(len(arrays), arrays[0].shape, axes, e)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/internals.py", line 4604, in construction_error
    raise e
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/internals.py", line 4637, in create_block_manager_from_arrays
    blocks = form_blocks(arrays, names, axes)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/internals.py", line 4701, in form_blocks
    float_blocks = _multi_blockify(float_items)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/internals.py", line 4778, in _multi_blockify
    values, placement = _stack_arrays(list(tup_block), dtype)
  File "/usr/local/lib/python3.6/dist-packages/pandas/core/internals.py", line 4823, in _stack_arrays
    stacked[i] = _asarray_compat(arr)
ValueError: could not broadcast input array from shape (27) into shape (0)

True

## ReportSnapshot: Company overview

In [14]:
snap = pd.DataFrame()
business_summary = None
brief = None
address = None
ratio = pd.DataFrame()
estimate = pd.DataFrame()

tws_conn.register(ReportSnapshot, message.fundamentalData)
tws_conn.reqFundamentalData(0,contract=contract,reportType='ReportSnapshot')
sleep(5)
tws_conn.unregister(ReportSnapshot, message.fundamentalData)

True

# Display Data

In [15]:
snap

,Company Type,Desc,Exchange,Index,Industry
"Amazon.com, Inc.",Equity Issue,Common Stock,NASDAQ,S&P 500,Internet & Mail Order Department Stores

In [16]:
business_summary

"Amazon.com, Inc. offers a range of products and services through its Websites. The Company's products include merchandise and content that it purchases for resale from vendors and those offered by third-party sellers. It also manufactures and sells electronic devices. It operates through three segments: North America, International and Amazon Web Services (AWS). Its AWS products include analytics, Amazon Athena, Amazon CloudSearch, Amazon EMR, Amazon Elasticsearch Service, Amazon Kinesis, Amazon Managed Streaming for Apache Kafka, Amazon Redshift, Amazon QuickSight, AWS Data Pipeline, AWS Glue and AWS Lake Formation. AWS solutions include machine learning, analytics and data lakes, Internet of Things, serverless computing, containers, enterprise applications, and storage. In addition, the Company provides services, such as advertising. It also offers Amazon Prime, a membership program that includes free shipping, access to streaming of various of movies and television (TV) episodes."

In [17]:
address

'410 Terry Ave N,SEATTLE,WA,United States'

In [19]:
quarter

,Revenue,Total Revenue,"Cost of Revenue, Total",Gross Profit,"Selling/General/Admin. Expenses, Total",Research & Development,"Other Operating Expenses, Total",Total Operating Expense,Operating Income,"Interest Inc.(Exp.),Net-Non-Op., Total",...,Cash from Operating Activities,Capital Expenditures,"Other Investing Cash Flow Items, Total",Cash from Investing Activities,"Issuance (Retirement) of Debt, Net",Cash from Financing Activities,Foreign Exchange Effects,Net Change in Cash,Total Extraordinary Items,Deferred Income Tax
Quarter,,,,,,,,,,,,,,,,,,,,,
2019-06-30,63404,63404,36337,27067,14832,9065,86,60320,3084,-168,...,10963,-6852,-8820,-15672,-4535,-4535,36,-9208,NaN,NaN
2019-03-31,59700,59700,33920,25780,13438,7927,-5,55280,4420,-183,...,1846,-3290,-4833,-8123,-2377,-2377,-12,-8666,NaN,NaN
2018-12-31,72383,72383,44786,27597,16057,7669,85,68597,3786,-237,...,30723,-13427,1058,-12369,-7686,-7686,-351,10317,157.0,1490.0
2018-09-30,56576,56576,33003,23573,12619,7162,68,52852,3724,-241,...,14246,-9693,896,-8797,-5925,-5925,-348,-824,NaN,NaN
2018-06-30,52886,52886,30632,22254,11944,7247,80,49903,2983,-249,...,5658,-6341,3116,-3225,-3556,-3556,-197,-1320,NaN,NaN

In [20]:
scanner

              Symbol SecType Exchange Currency
LOW_VS_52W_HL
0               BH A     STK    SMART      USD
1               ICUI     STK    SMART      USD
2                ADS     STK    SMART      USD
3               ABMD     STK    SMART      USD
4               BIIB     STK    SMART      USD
5                SPG     STK    SMART      USD
6                MMM     STK    SMART      USD
7                FDX     STK    SMART      USD
8               LANC     STK    SMART      USD
9                BAP     STK    SMART      USD

In [21]:
annual

,Revenue,Total Revenue,"Cost of Revenue, Total",Gross Profit,"Selling/General/Admin. Expenses, Total",Research & Development,Depreciation/Amortization,"Other Operating Expenses, Total",Total Operating Expense,Operating Income,...,Cash from Investing Activities,"Issuance (Retirement) of Debt, Net",Cash from Financing Activities,Foreign Exchange Effects,Net Change in Cash,Unrealized Gain (Loss),DPS - Common Stock Primary Issue,Dilution Adjustment,Financing Cash Flow Items,"Issuance (Retirement) of Stock, Net"
Annual,,,,,,,,,,,,,,,,,,,,,
2018,232887,232887,139156,93731,52177,28837,475,-179,220466,12421,...,-12369,-7686,-7686,-351,10317,NaN,NaN,NaN,NaN,NaN
2017,177866,177866,111934,65932,38992,22620,366,-152,173760,4106,...,-27084,9928,9928,713,1922,-16.0,NaN,NaN,NaN,NaN
2016,135987,135987,88265,47722,27284,16085,287,-120,131801,4186,...,-9516,-3716,-3716,-212,3759,16.0,0.0,NaN,NaN,NaN
2015,107006,107006,71651,35355,20411,12540,228,-57,104773,2233,...,-6450,-3882,-3882,-374,1333,-1.0,NaN,0.0,NaN,NaN
2014,88988,88988,62752,26236,16650,9275,181,-48,88810,178,...,-5065,4426,4432,-310,5899,1.0,NaN,NaN,6.0,0.0
2013,74452,74452,54181,20271,12847,6565,168,-54,73707,745,...,-4276,-617,-539,-86,574,2.0,0.0,NaN,78.0,0.0

In [22]:
resc_ann

,OPROFIT as of Aug31 2019,NAV as of Aug31 2019,CAPEX as of Aug31 2019,NPROFIT as of Aug31 2019,ROA as of Aug31 2019,CPS as of Aug31 2019,EPS as of Aug31 2019,REVENUE as of Aug31 2019,EBIT as of Aug31 2019,BVPS as of Aug31 2019,NPROFITREP as of Aug31 2019,PPROFIT as of Aug31 2019,EPSREP as of Aug31 2019,PPROFITREP as of Aug31 2019,EBITDA as of Aug31 2019,NDEBT as of Aug31 2019,ROE as of Aug31 2019,DPS as of Aug31 2019
2018,NaN,59.07,13427,10073,11.46,61.446,20.14,232887,12421,88.69,10073,NaN,20.14,NaN,33476,-8255,28.27,0
2017,NaN,29.66,11955,2244,2.09,37.39,4.56,177866,4106,57.25,3033,NaN,6.15,NaN,20001,-6243,9.55,0
2016,NaN,32.5,6737,2371,3.19,33.97,4.9,135987,4186,40.4298,2371,NaN,4.9,NaN,12302,-18287,14.52,0
2015,NaN,NaN,4589,596,0.99,24.99,1.25,107006,2233,28.4161,596,NaN,1.25,NaN,10633,-11573,4.94,0
2014,NaN,15.96,4893,-241,-0.51,14.81,-0.52,88988,178,23.0989,-241,NaN,-0.52,NaN,6554,-9151,-2.35,0
2013,745,15.45,3444,274,0.75,11.77,0.59,74452,745,21.23,274,506,0.59,506,3998,-5467,3.05,0

In [23]:
resc_q.head()

,OPROFIT as of Aug31 2019,NAV as of Aug31 2019,CAPEX as of Aug31 2019,NPROFIT as of Aug31 2019,ROA as of Aug31 2019,CPS as of Aug31 2019,EPS as of Aug31 2019,REVENUE as of Aug31 2019,EBIT as of Aug31 2019,BVPS as of Aug31 2019,NPROFITREP as of Aug31 2019,PPROFIT as of Aug31 2019,EPSREP as of Aug31 2019,PPROFITREP as of Aug31 2019,EBITDA as of Aug31 2019,NDEBT as of Aug31 2019,ROE as of Aug31 2019,DPS as of Aug31 2019
2019-06,NaN,NaN,3562,2625,NaN,18.13,5.22,63404,3084,107.411,2625,NaN,5.22,NaN,10343,3171,20.7,0
2019-03,NaN,NaN,3290,3561,NaN,3.68,7.09,59700,4420,98.3943,3561,NaN,7.09,NaN,10543,-13698,30.98,0
2018-12,NaN,NaN,3733,3027,NaN,32.89,6.04,72383,3786,88.69,3027,NaN,6.04,NaN,9551,-8255,29.29,0
2018-09,NaN,NaN,3352,2883,NaN,17.14,5.75,56576,3724,80.8368,2883,NaN,5.75,NaN,8920,-5081,7.78,0
2018-06,NaN,NaN,3243,2534,NaN,14.898,5.07,52886,2983,72.3037,2534,NaN,5.07,NaN,8161,-2412,7.63,NaN

In [24]:
resc

,Name,Exchange,Symbol,Sector,CLPRICE,SHARESOUT,MARKETCAP,52WKHIGH,52WKLOW,NAV
0,"Amazon.com, Inc.",NASDAQ,AMZN.O,Cyclical Consumer Goods & Services,1764.250000,494656015,872696.8745,2050.5000,1307.0000,745.0000-25.000079.0000

In [25]:
ratio

,EV,Employees,MKTCAP,NHIG,NLOW,NPRICE,PDATE,PEEXCLXOR,PRICE2BK,QBVPS,...,TTMDIVSHR,TTMEBITD,TTMEPSXCLX,TTMGROSMGN,TTMNIAC,TTMPR2REV,TTMREV,TTMREVPS,TTMROEPCT,VOL10DAVG
"Amazon.com, Inc.",849788.9,653300.0,850936.9,2035.8,1307.0,1720.26,2019-10-10T00:00:00,72.25916,16.01569,107.4109,...,0.0,33110.0,23.80681,41.26627,11939.0,3.37589,252063.0,502.6182,27.11683,2.88101

In [26]:
estimate

,ConsRecom,ProjDPS,ProjEPS,ProjEPSQ,ProjLTGrowthRate,ProjPE,ProjProfit,ProjSales,ProjSalesQ,TargetPrice
"Amazon.com, Inc.",1.4583,0.0,23.5154,4.5693,44.0,73.15461,11737.0573,279095.0914,68790.8141,2269.0444

## Technical Data

In [30]:
historical_data = pd.DataFrame(columns=['Date', 'Open', 'High', 'Low', 'Close', 'Volume'])

In [31]:
tws_conn.register(historical_data_handler, message.historicalData)
tws_conn.reqHistoricalData(0, contract,'','1 M','1 hour','TRADES',1,1)
sleep(5)
tws_conn.unregister(historical_data_handler, message.historicalData)

In [35]:
historical_data['MA30'] = talib.SMA(historical_data['Close'], timeperiod=30)
historical_data['MA10'] = talib.SMA(historical_data['Close'], timeperiod=10)
historical_data['RSI'] = talib.RSI(historical_data['Close'], timeperiod=14)
historical_data['Return'] = (historical_data['Close'] - historical_data['Close'].shift(1))/historical_data['Close']
historical_data['macd'], historical_data['macdsignal'], historical_data['macdhist'] = talib.MACDEXT(historical_data['Close'], fastperiod=12, fastmatype=1, slowperiod=26, slowmatype=1, signalperiod=9, signalmatype=1)
historical_data['Beta'] = talib.BETA(historical_data['High'],historical_data['Low'], timeperiod=5)

In [36]:
historical_data.tail(10)

,Open,High,Low,Close,Volume,MA30,MA10,RSI,Return,macd,macdsignal,macdhist,Beta
Date,,,,,,,,,,,,,
20191010 13:00:00,1721.00,1722.32,1716.12,1722.00,1381,1727.705333,1727.102,47.151724,0.000627,-0.011440,-0.272715,0.261276,0.685148
20191010 14:00:00,1721.91,1723.01,1713.75,1718.23,1447,1727.299333,1726.313,44.674210,-0.002194,-0.616097,-0.341392,-0.274705,1.190497
20191010 15:00:00,1718.42,1722.48,1717.70,1720.56,1946,1726.908333,1725.667,46.543673,0.001354,-0.896941,-0.452501,-0.444440,0.805248
20191011 09:30:00,1742.92,1743.62,1736.17,1740.32,3264,1727.079000,1727.262,59.150186,0.011354,0.469542,-0.268093,0.737635,0.861716
20191011 10:00:00,1740.14,1745.45,1739.61,1742.84,3334,1727.193667,1728.781,60.431752,0.001446,1.735823,0.132690,1.603133,0.729279
20191011 11:00:00,1742.98,1745.45,1738.72,1740.12,2145,1727.568000,1730.614,58.305506,-0.001563,2.491162,0.604385,1.886778,0.840715
20191011 12:00:00,1741.54,1742.54,1730.23,1739.08,1839,1727.404000,1731.247,57.472860,-0.000598,2.971600,1.077828,1.893772,0.928157
20191011 13:00:00,1739.25,1744.48,1735.98,1742.19,1476,1727.377000,1731.816,59.342686,0.001785,3.562238,1.574710,1.987528,0.963612
20191011 14:00:00,1742.26,1743.07,1740.50,1741.91,1253,1727.544000,1732.817,59.090781,-0.000161,3.962057,2.052179,1.909878,2.080672
20191011 15:00:00,1741.93,1743.27,1729.86,1729.98,2879,1727.184333,1733.723,49.457596,-0.006896,3.278473,2.297438,0.981035,1.747126

# Step 3: Apply Strategy

# Step 4: Position Account

In [ ]:
account = None

In [ ]:
tws_conn.register(position_account, message.position)

In [ ]:
tws_conn.reqPositions()

In [16]:
print(account)

NASDAQ

# Step 5: Placing Orders

In [ ]:
order_id = None

In [ ]:
tws_conn.register(next_id, message.nextValidId)
tws_conn.reqIds(0)

In [26]:
order = create_order(order_type = 'MKT',
                     quantity = 10, 
                     action = 'BUY')

In [27]:
print ('Creating Order: ')
print (' Ticker: ',contract.m_symbol)
print (' SecType: ',contract.m_secType)
print (' Exchange: ',contract.m_exchange)
print (' primExchange: ',contract.m_primaryExch)
print (' Order Quantity: ',order.m_totalQuantity,'\n','Order Type: ', order.m_orderType,'\n','Order Action: ',order.m_action)

Creating Order:
 Ticker:  AAPL
 SecType:  STK
 Exchange:  SMART
 primExchange:  NASDAQ
 Order Quantity:  10
 Order Type:  MKT
 Order Action:  BUY

In [15]:
tws_conn.placeOrder(order_id, contract, order)

Server Error: <error id=62, errorCode=399, errorMsg=Order Message:
BUY 10 AAPL NASDAQ.NMS
Warning: your order will not be placed at the exchange until 2019-10-02 09:30:00 US/Eastern>
Server Error: <error id=62, errorCode=202, errorMsg=Order Canceled - reason:>

# Disconnect

In [37]:
tws_conn.disconnect()

True